.vc_custom_1513620393970 {
    background-image: url(../img/video_bg.png) !important;
}

.vc_custom_1514165708687 {
    background-image: url(../img/testimonials_15percent_opacity.jpg) !important;
}

.vc_custom_1514247801613 {
    margin-bottom: 24px !important;
}

.vc_custom_1514233412817 {
    margin-bottom: 16px !important;
    /*background-image: url(true?id=) !important;*/
}

.vc_custom_1514234716572 {
    margin-top: 32px !important;
}

.vc_custom_1514258359881 {
    margin-bottom: 0px !important;
}

.vc_custom_1514245531220 {
    margin-top: 6px !important;
    margin-bottom: 20px !important;
}

.vc_custom_1514245538346 {
    margin-top: 0px !important;
    margin-bottom: 6px !important;
}

.vc_custom_1514245570517 {
    margin-bottom: 18px !important;
}

.vc_custom_1514165431889 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1514245575021 {
    margin-bottom: 18px !important;
}

.vc_custom_1514245254327 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1514245580032 {
    margin-bottom: 18px !important;
}

.vc_custom_1514245261016 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1514245584321 {
    margin-bottom: 18px !important;
}

.vc_custom_1514245272940 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1513620675866 {
    /*background-image: url(true?id=) !important;*/
}

.vc_custom_1513703479403 {
    /*background-image: url(true?id=) !important;*/
}

.vc_custom_1517363394272 {
    margin-bottom: 12px !important;
    /*background-image: url(true?id=) !important;*/
}